<layout>
  <include src="t_tab_title.xml" />
  <include src="../t_group_box.xml" />

  <template name="SettingsGroupBox">
    <rectangle macro="group_box" id="${id}">
      <GroupBoxTitle translation="${translation}" src_builtin="${icon}" />
    </rectangle>
  </template>

  <template name="CheckBoxSetting">
    <CheckBox id="${id}" text="${text}" translation="${translation}" checked="${checked}" tooltip="${tooltip}" />
  </template>

  <template name="SliderSetting">
    <label text="${text}" translation="${translation}" />
    <Slider id="${id}" width="250" height="24" min_value="${min}" max_value="${max}" step="${step}" value="${value}" tooltip="${tooltip}" />
  </template>

  <template name="SelectSetting">
    <label text="${text}" translation="${translation}" tooltip="${tooltip}" />
    <RadioGroup id="${id}" />
  </template>

  <template name="SelectOption">
    <RadioBox text="${text}" translation="${translation}" value="${value}" tooltip="${tooltip}" />
  </template>

  <elements>
    <TabTitle translation="SETTINGS" icon="dashboard/settings.svg" />
    <div flex_wrap="wrap" justify_content="stretch" gap="4" id="settings_root" />
  </elements>
</layout>