[profile.dev]
opt-level = 1
debug = true
strip = "none"
debug-assertions = true
incremental = true

[profile.release-with-debug]
inherits = "release"
debug = true

[workspace]
members = ["uidev", "wgui", "wlx-overlay-s", "wlx-capture", "dash-frontend"]
resolver = "3"

[workspace.dependencies]
anyhow = "1.0.100"
glam = "0.30.7"
idmap = "0.2.2"
log = "0.4.28"
regex = "1.11.3"
rust-embed = "8.7.2"
slotmap = "1.0.7"
vulkano = { version = "0.35.2", default-features = false, features = [
  "macros",
] }
vulkano-shaders = "0.35.0"
wayland-client = { version = "0.31.11" }
