name: Check Default

on:
  pull_request:
    #branches: [ "!main" ]

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./wayvr
    steps:
    - uses: actions/checkout@v4
    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9
    - name: Prepare Environment
      run: |
        ../.github/workflows/scripts/appimage_prepare_env.sh
    - name: Run cargo fmt
      run: cargo fmt --check
    - name: Build
      run: cargo build --verbose
    - name: Run clippy
      run: cargo clippy --no-deps
    - name: Run tests
      run: cargo test --verbose
